:root {
    --textColor: #FFFFFF;
    --font: 'Karla', sans-serif;
    --coffeeYellow: #FFDD00;
    --coffeeText: #000000;
}

html {
    margin: 0;
    hight: 100%;
    
    background-image: url('stars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font);
    color: var(--textColor);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height: 100%;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video {
    /*position: relative;
    background-color: transparent;
    color: var(--textColor);
    border: solid var(--textColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; 
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;*/
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
