@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;&display=swap');

:root {
    --font: 'Inter', sans-serif;
    
    --textColor: #FFFFFF; /*white*/
    --purpleText: #9D44F0;
    --greyText: #9B9B9B;
    
    --bgColor: #222429; /*dark grey*/
    --bgLinks: #444442; /*lighter grey*/
    --greyColor: #2D2D2D; /*lighter grey*/
}

html {
    margin: auto;
    height: auto;

    background-color: var(--bgColor);

    font-family: var(--font);
    color: var(--textColor);
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: center;
    text-align: center;
}

body {
    padding: auto;
    height: fit-content;
    display: block;
    position: center;
    max-width: 500px;
    margin: auto;
}

.header {
    font-family: var(--headerFont);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 10px auto;
}

.description {
    font-family: var(--describeFont);
    font-weight: 500;
    font-size: 20px;
    color: var(--greyText);
    text-align: center;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0;
}

.defly {
    color: var(--purpleText);
    text-decoration: none;
}

.youtube {
    max-width: 500px;
    width: 100%;
    display: block;
    position: center;
    margin: 10px auto;
    padding: 10px;
    background-color: transparent;
    color: var(--textColor);
    box-sizing: border-box;
}

.video {
    border-radius: 12px;
    box-sizing: border-box;
    position: relative;
    border: solid var(--purpleText) 2px;
    border-radius: 12px;
    display: block;
    padding:10px;
    background-color: black;
    margin: 20px auto;
}

.footer {
    font-family: var(--describeFont);
    font-weight: 400;
    font-size: 15px;
    color: var(--greyText);
    text-align: center;
    line-height: 1.5;
    position: relative;
    bottom: 0;
    width: 100%;
}

.alisa {
    color: var(--purpleText);
    background: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .alisa:hover {
    color: var(--purpleText);
    }
}

.alisa:active {
    background-color: transparent;
}

.filterDiv {
  float: center;
  background-color: transparent;
  color: #ffffff;
  width: auto;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  display: none;
  border-radius: 12px;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}

.btn {
  display: inline-block;
  width: auto;
  position: center;
  margin: 10px auto;
  padding: 12px 16px;
  border: none;
  outline: none;
  background-color: #333740;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #b1b8ca;
}

.btn:hover {
  background-color: var(--purpleText);
  color: #ffffff;
}

.btn.active {
  background-color: var(--purpleText);
  color: #ffffff;
}
