@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: #FFFFFF;
    --blueText: #0073E5;
    --greyText: #9B9B9B;
    
    --font: 'Karla', sans-serif;
    --headerFont: 'Poppins', sans-serif, 'arial';
    --describeFont: 'Roboto', sans-serif, 'arial';
    
    --bgColor: #2D2D2D;
    --bgInput: #444442;
}

* { 
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    height: 100%;

    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;

    font-family: var(--font);
    color: var(--textColor);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height: 100%;
}

.header {
    font-family: var(--headerFont);
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin: 10px auto;
}

.description {
    font-family: var(--describeFont);
    font-weight: 400;
    font-size: 20px;
    color: var(--greyText);
    text-align: center;
    line-height: 1.5;
    margin: 10px auto;
}

.defly {
    color: var(--blueText);
    text-decoration: none;
}

.youtube {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 10px auto;
    width: 100%;
    position: center;
}

.video {
    position: relative;
    background-color: transparent;
    border: solid var(--blueText) 2px;
    border-radius: 12px;
    display: block;
    padding: 10px;
    background-color: black;
    border: 0;
    outline: 0;
    width: auto;
    box-sizing: border-box;
}
